.myMemo {
  background-image: url("../../../public/background_grid_yellow.png");
  background-clip: border-box;
  background-repeat: repeat;
  position: relative;
}

.myMemo::before {
  content: "";
  transform: translate(10px, 10px);
  position: absolute;
  inset: 0;
  border: inherit;
  border-radius: inherit;
  z-index: -1;
  @apply bg-memoblue-50;
}

.myMemo::after {
  content: "";
  transform: translate(6px, 6px);
  position: absolute;
  inset: 0;
  border: inherit;
  border-radius: inherit;
  z-index: -1;
  @apply bg-memoblue-50;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.myMemo {
  scrollbar-width: auto;
  scrollbar-color: #6f95db #dee8f8;
}

/* Chrome, Edge, and Safari */
.myMemo::-webkit-scrollbar {
  width: 16px;
}

.myMemo::-webkit-scrollbar-track {
  background: #dee8f8;
}

.myMemo::-webkit-scrollbar-thumb {
  background-color: #6f95db;
  border-radius: 30px;
  border: 2px solid #5069b1;
}

.linkToMemo {
  @apply text-memoblue-400 hover:cursor-pointer;
}
